<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.famnet.famnet">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".TasksActivity"></activity>
        <activity android:name=".PersonalTasksActivity"></activity>
        <activity android:name=".AccountActivity"></activity>
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".NewTaskActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SettingActivity"></activity>
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskDetailActivity"></activity>
    </application>

</manifest>